{% extends 'blog/base.html' %}
{% block title %}友情链接{% endblock %}

{% block content %}
    <section class="container text-center" style="margin:100px 60px 0 40px;min-height:380px">
        <h2 style="color: #990073">戴启乐github地址</h2>
        <div>
           <a href="https://github.com/qileDai/DaiqileBlog">个人博客：https://github.com/qileDai/Myblog</a>
        </div>
        <div>
            <a href="https://github.com/qileDai/autoframework">接口自动化：https://github.com/qileDai/autoframework</a>
        </div>

    </section>
{% endblock %}