{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Python笔记{% endblock %}

{% block  content %}
    <div class="container text-center" style="margin: 20px ">
      <a href="index.html"></a>
    </div>
     <section class="container text-center" style="margin:100px 60px 0 40px;min-height:600px;top: 10px">
       <div class="img-rounded" style="background-color: #5ea9de">
         <h1 style="color: #761c19;font-size: 40px">正在建设中.......</h1>
         <img src="{% static 'blog/imgs/lado.jpg' %}" style="width: 300px ;height: 300px">
       </div>

    </section>
{% endblock %}